<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="module" src="/scripts/base.js"></script>

    <style>
        .error {
            font-size: 12px;
            margin-left: 12px;
            color: #b00020;
            display: block;
        }
    </style>
</head>

<body>
<div id="form-modal" class="user-role" style="display: block;">
    <form id="login-form" class="authentication-form " style="display: block;" action="/auth/login" method="post">
        <header class="form-heading">
            <h5 class="form-title text-uppercase bold ">xin chào!</h5>
            <p class="form-direction">Đăng nhập bên dưới hoặc
                <a href="/auth/register" class="form-link bold" id="form-link__signup">đăng ký ngay.</a></p>
        </header>
        <div class="line-separate"></div>
        <main class="form-body">
            <ul class="form-social d-flex justify-content-between">
                <li class="form-social__item"><a href="#" class="form-social__link">
                    <img src="/images/google.png"
                         alt=""
                         class="form-social__icon">
                    <p class="form-social__name text-black">Google</p>
                </a></li>
                <li class="form-social__item"><a href="#" class="form-social__link"><i
                        class="form-social__icon fa-brands fa-facebook"></i>
                    <p class="form-social__name text-black">Facebook</p>
                </a></li>
                <li class="form-social__item"><a href="#" class="form-social__link">
                    <img src="/images/zalo.png" alt="" class="form-social__icon">
                    <p class="form-social__name text-black">Zalo</p>
                </a></li>
            </ul>
            <div class="form-separate d-flex justify-content-between align-items-center">
                <div class="line-separate"></div>
                <p>Hoặc</p>
                <duv class="line-separate"></duv>
            </div>
            <ul class="user-input mt-3">
                <li class="mb-3">
                    <input type="text" class="no-space form-control username" placeholder="Nhập tên đăng nhập"
                           name="username">
                    <div class="invalid-feedback">Tên đăng nhập không tồn tại!</div>
                </li>
                <li class="mb-3">
                    <input type="password" class="no-space form-control password" name="password"
                           placeholder="Nhập mật khẩu">
                    <div class="invalid-feedback">Sai mật khẩu!</div>
                </li>
                <input type="hidden" value="{{role}}" name="role"/>

                <div class="error">{{{loginMessage}}}</div>
            </ul>
        </main>
        </a>
        <button type="submit" class=" form-submit text-uppercase">đăng nhập</button>
        <a href="/auth/forgot" class="form-link mt-2">Quên mật khẩu?</a>
    </form>
</div>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/authentication.css">
<link rel="stylesheet" href="/styles/home.css">
</body>

</html>
