/* VARIABLE */
:root{
    --primary-color: #CF0000;
    --black-color: black;
    --second-color: rgb(119, 119, 119);
    --light-color: rgba(119,119,119,0.2);
    --white-color: white;
}

/* CSS FOR ALL PAGES*/
html{
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.expand{
    margin-left: 2px;
}
.btn-primary{
    background-color: var(--primary-color);
    border: none;
}


.bg-primary{
    color: var(--primary-color) !important;
}
.hover:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.bold{
    font-weight: bold;
}

/* HEADAER */
#header__navbar{
    border-radius: 5px;
    position: sticky;
    font-size: 14px;
    z-index: 1001;
}
.header-head{
    height: 50px;
    padding: 0px 20px;
}
#header-logo{
    height: 25px;
    cursor: pointer;
}

.navbar-search{
    color: var(--white-color);
    font-size: 20px;
    margin-right: 16px;
}
.header__nav-link{
    color: var(--white-color);
}
#menu-btn{
   border: none;
   background-color: transparent;
   color: var(--white-color);
   font-size: 20px;
   display: none;
}
.navbar-nav li a:active, .navbar-nav li a:focus{
    color: var(--white-color);
}

/* USER DO NOT LOG IN */
#guest{
    width: 30%;
    font-size: 12px;
    display: none;
}
#log-in{
    margin-right: 20px;
}
/* USER LOGGED IN*/
#user-logged-in{
    display: flex;
}
#user-img, #user-notice{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    cursor: pointer;
}

#user-notice{
    background-color: var(--light-color);
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: var(--second-color);
    margin-right: 16px;
}
#user-notice:hover,#user-img:hover{
    opacity: 0.8;
}
/* SUB NAVIGATION */
.subnav{
    position: relative;
}
.subnav-menu{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 1px 1px  #ccc;
    background-color: var(--white-color);
    display: none;
    width: 150px;
    padding: 8px 0px;
    border-radius: 2px;
    flex-direction: column;
}
.subnav-item{
    width: 100%;
    color: var(--black-color);
    text-transform: uppercase;
    line-height: 30px;
    font-weight: bold;
}
.subnav-menu li{
    text-align: center;
    
}
.subnav-menu li:hover{
    background-color: var(--light-color);
    cursor: pointer;
}
.subnav-menu li:hover > .subnav-item{
    color: var(--primary-color);
}
.subnav-menu li a:active, .subnav-menu li a:focus{
    color: var(--black-color);
}
/* FOOTER */
.footer__social{
    padding: 0;
}
.footer__social-link{
    font-size: 24px;
    color: var(--second-color);
}
.footer__social-item{
    padding: 0px 8px;
}
.footer__navbar-item{
    padding: 0px 10px;
}
.footer__navbar-link{
    color: var(--second-color);
    font-size: 12px;
}
.footer__navbav-separate{
    color: var(--second-color);
    font-size: 12px;
}
.footer__coppyright {
    color: var(--second-color);
    font-size:12px;
}
footer{
    padding: 30px 0px;
    border-top: 10px solid var(--primary-color);
  
}
.footer__navbar{
    justify-content: center;
    z-index: -1;
}

/* REPONSIVE */

@media screen and (max-width: 1024px) {
    #header__navbar{
        font-size: 12px;
    }
  
    #guest{
        font-size: 10px;
    }
  
    /* footer */
    .footer__navbar-link{
        font-size: 11px;
    }
    .footer__navbar-item{
        padding: 4px;
    }

    
}
@media screen and (max-width: 800px) {
    #header__navbar{
        font-size: 11px;
    }
}
@media screen and (max-width: 768px) {
    #header__navbar{
        border-radius: 0;
        padding: 5px 20px;
        font-size: 12px;
    }
    #header__navbar .navbar-nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;;
        background-color: black;
        width: 100%;
        padding: 0px 20px;
    }
    #navbar-menu{
        display: none;
        z-index: 1000;
    }
    .navbar-search{
        font-size: 18px;
        margin: 0;
    }
    #menu-btn{
        display: block;
        
    }
    #user-notice{
        margin-right: 8px;
    }
   
    .subnav-menu{
        position: relative;
        top: 0;
        left: 80px;
        color: var(--white-color);
        border: none;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }
    .subnav-item{
        color: var(--white-color);
    }
    .subnav-menu li{
        text-align: left;
        margin-left: 30px;
        
    }
    .subnav-menu li:hover{
        background-color: transparent;
    }
    .footer__navbav-separate{
        display: none;
    }
    .footer__navbar-item{
        padding: 8px 0px;
    }
    .footer__navbar-link{
        font-size: 12px;
    }
    .footer__navbar{
        display: flex;
        flex-direction: column;
    }
    .footer{
        background-color: black;
    }
}
@media screen and (max-width: 560px){
    #header__navbar .navbar-nav{
        padding: 0px 30px;
    }
}