*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --primary-color: #CF0000;
    --second-color: #777;
}

.color-white{
    color: white;
}
.color-second{
    color: #777;
}
.color-primary{
    color: var(--primary-color);
}
.bg-primary{
    color: var(--primary-color) !important;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.font-18{
    font-size: 18px;
}
.hover:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
/* HEADAER */
#header__navbar{
    border-radius: 5px;
    position: sticky;
    font-size: 14px;
}
.header-head{
    height: 50px;
    padding: 0px 20px;
}
#header-logo{
    height: 20px;
}
.user-control{
    width: 30%;
    font-size: 12px;
}
.user-login{
    margin-right: 20px;
}

.navbar-search{
    font-size: 18px;
}

#menu-btn{
   border: none;
   background-color: transparent;
   color: white;
   font-size: 20px;
   display: none;
}


/* FOOTER */
.footer__social{
    padding: 0;
}
.footer__social-link{
    font-size: 24px;
    color: var(--second-color);
}
.footer__social-item{
    padding: 0px 8px;
}
.footer__navbar-item{
    padding: 0px 10px;
}
.footer__navbar-link{
    color: var(--second-color);
    font-size: 12px;
}
.footer__navbav-separate{
    color: var(--second-color);
    font-size: 12px;
}
.footer__coppyright {
    color: var(--second-color);
    font-size:12px;
}
footer{
    margin-top: 100px;
    padding: 30px 0px;
    border-top: 10px solid var(--primary-color);
  
}
.footer__navbar{
    justify-content: center;
}

/* REPONSIVE */

@media screen and (max-width: 1024px) {
    #header__navbar{
        font-size: 12px;
    }
    .navbar-search{
        top: 14px;
        font-size: 14px;
    }
    .user-control{
        font-size: 10px;
    }
    /* footer */
    .footer__navbar-link{
        font-size: 11px;
    }
    .footer__navbar-item{
        padding: 4px;
    }

}
@media screen and (max-width: 728px) {
    #header__navbar{
        border-radius: 0;
        padding: 5px 20px;
    }
    #header__navbar .navbar-nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;;
        background-color: black;
        width: 100%;
        padding: 0px 20px;
    }
    #navbar-menu{
        display: none;
    }
    .navbar-search{
        font-size: 18px;
    }
    #menu-btn{
        display: block;
        
    }
    .container-fluid.app{
        padding: 0px !important;
    }
    .footer__navbav-separate{
        display: none;
    }
    .footer__navbar-item{
        padding: 8px 0px;
    }
    .footer__navbar-link{
        font-size: 12px;
    }
    .footer__navbar{
        display: flex;
        flex-direction: column;
    }
    .footer{
        background-color: black;
    }
}
@media screen and (max-width: 560px){
    #header__navbar .navbar-nav{
        padding: 0px 30px;
    }
}