<a href="#" class="categories-item__link pos-r">
    <img src="{{mainImg}}" alt="{{title}}" class="categories-item__img">
    <div class="categories-item__infor">
        <p class="categories-item__title text-black bold">
            {{title}}</p>
        <p class="article-time pos-a"><i class="fa-solid fa-clock"></i>
            {{publishDate}}</p>
    </div>
</a>