<a href="#" class="categories-item__link pos-r">
    <img src="images/articles/ID8_0.jpg" alt="" class="categories-item__img">
    <div class="categories-item__infor">
        <p class="categories-item__title text-black bold">
            Tiêu đề của bài viết
            Tiêu đề của bài viết
            Tiêu đề của bài viết
            Tiêu đề của bài viết
            Tiêu đề của bài viết bài
            viết Tiêu đề của bài
            viết Tiêu đề của bài
            viết Tiêu đề của bài
            viết</p>
        <p class="article-time pos-a"><i class="fa-solid fa-clock"></i>
            08/04/2023</p>

    </div>
</a>