<div class="row mt-5 mb-2 d-flex justify-content-between align-items-center m-0">
    <h1 style="display: inline-block; width: auto;" class="text-left col-lg-5 p-0">

        <i class="fa-solid fa-bars" id="sidebar-btn"></i>
        <strong>Bài viết của tôi</strong>
    </h1>
    <a href="/writer/post-article" style="max-width: 180px; padding: 8px 0px;"
        class="btn btn-primary col-lg-2 btn-hover-opacity"><i class="fa-regular fa-pen-to-square"></i> Đăng
        bài
        mới</a>
</div>