<img src="images/articles/ID4_0.png" alt="Title of article" class="most-viewd__img">
                <a href="../articleDetail" class="most-viewd__link pos-a">
                    <div class="most-viewd__infor">
                        <div class="category-card">Đời sống</div>
                        <p class="most-viewd__title text-white font-title">
                            Bãi rác Cam Ly
                            bốc
                            cháy nhiều gây ô nhiễm nghiêm trọng Bãi
                            rác Cam Ly
                            bốc
                            cháy nhiều gây ô nhiễm nghiêm trọng Bãi
                            rác Cam Ly
                            bốc
                            cháy nhiều gây ô nhiễm nghiêm trọng</p>
                        <div class="most-viewd__extra d-flex justify-content-between">
                            <p class="author"><i class="fa-solid fa-pen "></i>
                                Tác giả</p>
                            <p class="time"><i class="fa-solid fa-clock"></i>
                                08/04/2023</p>
                        </div>

                    </div>

                </a>