<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="module" src="scripts/base.js"></script>
</head>

<body>
    <div id="app">
        <header id="app__header" class="user-role">

            <div class="header-head d-flex justify-content-between align-items-center">
                <a href="/"><img id="header-logo" src="images/logo.png"></img></a>
                <!-- user don't login -->
                <div id="guest" class="justify-content-end">
                    <a href="#" id="app__header-login" class="hover text-uppercase bold hover">Đăng
                        nhập</a>
                    <a href="#" id="app__header-signup" class="hover text-uppercase bold hover">Đăng
                        ký</a>
                </div>
                <!-- user logged in -->
                <div id="user-logged-in" class="justify-content-end align-items-center">
                    <div id="notice">
                        <div id="notice-icon"><i class="fa-solid fa-bell "></i></div></i>
                        <ul id="notice-list">
                            <li class="notice-item">
                                <a href="#" class="notice-link">Bạn chưa có thông báo
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- -->
                    <div id="user">
                        <div id="avatar" class="pos-r">
                            <img src="images/users/female_default.png" alt="avatar of user" id="user-img">
                            <img src="images/premium.png" class="premium-icon premium">
                        </div>
                        <div id="user-control">
                            <div id="control-heading" class="line-separate">
                                <img src="images/users/female_default.png" alt="Avatar" class="rounded">
                                <p class="text-capitalize bold">minh Hiền</p>
                            </div>
                            <div class="editor non-ad line-separate control-item">
                                <a href="./browsingList" class="control-link hover">Duyệt bài
                                    viết</a>
                            </div>
                            <div class="admin line-separate control-item">
                                <a href="#" class="control-link hover">Trang quản lý</a>
                            </div>
                            <div class="line-separate non-ad control-item">
                                <a href="./post_article" class="control-link hover light-hover">Đăng
                                    bài viết</a>
                                <a href="./my_article" class="control-link hover light-hover">Bài
                                    viết của tôi</a>

                            </div>
                            <div class="line-separate non-ad control-item">
                                <a href="#" class="control-link hover light-hover">Nâng
                                    cấp tài khoản</a>
                            </div>
                            <div class=" control-item">
                                <a href="./setting" class="control-link hover light-hover">Cài
                                    đặt</a>
                                <a href="./index" class="control-link hover light-hover">Đăng
                                    xuất</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->

                </div>

            </div>
            <!-- nav for all user subsystem -->
            <nav id="header__navbar" class=" admin-role navbar navbar-expand-sm bg-black">
                <div class="container-fluid ">
                    <button id="menu-btn">
                        <i class="fa-solid fa-bars hover"></i>
                    </button>
                    <div id="navbar-menu">
                        <ul class="navbar-nav ">
                            <li class="nav-item"><a href="/"
                                    class="nav-link text-uppercase header__nav-link hover bold pc">Trang
                                    chủ</a></li>
                            <li class="nav-item subnav">
                                <a href="../listArticle" class="nav-link text-uppercase header__nav-link hover bold">
                                    Kinh tế
                                    <i class="fa-solid fa-caret-down expand"></i>
                                </a>
                                <ul class="subnav-menu">
                                    <li><a href="./listArticle" class="subnav-item ">nông
                                            sản</a></li>
                                    <li><a href="./listArticle" class="subnav-item ">hải sản</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item subnav"><a href="../listArticle"
                                    class="nav-link text-uppercase header__nav-link hover bold">Thể
                                    thao <i class="fa-solid fa-caret-down expand"></i></a>
                                <ul class="subnav-menu">
                                    <li><a href="../listArticle" class="subnav-item ">trong
                                            nước</a></li>
                                    <li><a href="../listArticle" class="subnav-item ">ngoài
                                            nước</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="../listArticle"
                                    class="nav-link text-uppercase header__nav-link hover bold">Pháp
                                    luật</a></li>
                            <li class="nav-item"><a href="../listArticle"
                                    class="nav-link text-uppercase header__nav-link hover bold">Đời
                                    sống</a>
                            </li>
                            <li class="nav-item"><a href="../listArticle"
                                    class="nav-link text-uppercase header__nav-link hover bold">Công
                                    nghệ</a></li>
                            <li class="nav-item"><a href="../listArticle"
                                    class="nav-link text-uppercase header__nav-link hover bold">Sức
                                    khỏe</a>
                            </li>
                            <li class="nav-item"><a href="../listArticle"
                                    class="nav-link text-uppercase header__nav-link hover bold">Âm
                                    nhạc</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-search">
                        <i class="fa-solid fa-magnifying-glass hover" id="search-btn"></i>

                    </div>
                </div>

            </nav>
        </header>
        <header id="header" class="admin-role">
            <div class="d-flex align-items-center">
                <a href="./index"><img id="header-logo" src="images/logo.png"></img></a>
                <i class="fa-solid fa-bars" id="sidebar-btn"></i>
            </div>
            <!-- user logged in -->
            <div id="header-control" class="justify-content-end align-items-center">
                <div id="notice">
                    <div id="notice-icon"><i class="fa-solid fa-bell "></i></div></i>
                    <ul id="notice-list">
                        <li class="notice-item">
                            <a href="#" class="notice-link">Bạn chưa có thông báo
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- -->
                <div id="header-admin">
                    <img src="images/users/female_default.png" alt="avatar of user" id="header-admin__avatar">

                    <div id="header-admin__control">
                        <div id="header-control__heading" class="line-separate">
                            <img src="images/users/female_default.png" alt="Avatar" class="rounded">
                            <p class="text-capitalize bold">minh Hiền</p>
                        </div>
                        <div class="header-control__item">
                            <a href="./index" class="header-control__link hover">Trang người dùng</a>
                        </div>
                        <div class=" header-control__item">
                            <a href="./setting" class="header-control__link hover light-hover">Cài
                                đặt</a>
                            <a href="./index" class="header-control__link hover light-hover">Đăng
                                xuất</a>
                        </div>
                    </div>
                </div>
                <!--  -->

            </div>


        </header>
        {{{body}}}

        <footer class="user-role">
            <ul class="d-flex footer__social justify-content-center">
                <li class="footer__social-item"><a href="#" class="footer__social-link hover">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link hover">
                        <i class="fa-brands fa-square-twitter"></i>
                    </a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link hover">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link hover">
                        <i class="fa-brands fa-square-pinterest"></i>
                    </a></li>
            </ul>
            <div class="container d-flex  justify-content-center">
                <ul class="navbar footer__navbar">
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">Trang
                            chủ</a></li>
                    <li class="nav-item footer__navbar-item footer__navbav-separate">|</li>
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">Kinh
                            tế</a></li>
                    <li class="nav-item footer__navbar-item footer__navbav-separate">|</li>
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">Thể
                            thao</a></li>
                    <li class="nav-item footer__navbar-item footer__navbav-separate">|</li>
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">pháp
                            luật</a></li>
                    <li class="nav-item footer__navbar-item footer__navbav-separate">|</li>
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">đời
                            sống</a></li>
                    <li class="nav-item footer__navbar-item footer__navbav-separate">|</li>
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">công
                            nghệ</a></li>
                    <li class="nav-item footer__navbar-item footer__navbav-separate">|</li>
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">sức
                            khỏe</a></li>
                    <li class="nav-item footer__navbar-item footer__navbav-separate">|</li>
                    <li class="nav-item footer__navbar-item"><a href="#"
                            class="nav-link hover footer__navbar-link text-uppercase">âm
                            nhạc</a></li>
                </ul>
            </div>
            <div class="footer__coppyright text-center">©Group04</div>
        </footer>

    </div>
    <div id="form-modal" class="user-role">
        <div id="signup-role">
            <header class="form-heading">
                <h5 class="form-title text-uppercase bold ">Đăng nhập với tư cách</h5>
            </header>
            <div id="btn-roles" class="d-flex-column">
                <button class="btn-role">Người dùng / Phóng viên</button>
                <button class="btn-role">Biên tập viên</button>
                <button class="btn-role">Admin</button>
            </div>
        </div>
        <form id="login-form" class="authentication-form " action="#" novalidate>
            <header class="form-heading">
                <h5 class="form-title text-uppercase bold ">xin chào!</h5>
                <p class="form-direction">Đăng nhập bên dưới hoặc <a href="#" class="form-link bold"
                        id="form-link__signup">
                        đăng
                        ký ngay.</a></p>
            </header>
            <div class="line-separate"></div>
            <main class="form-body">
                <ul class="form-social d-flex justify-content-between">
                    <li class="form-social__item"><a href="#" class="form-social__link"><img src="images/google.png"
                                alt="" class="form-social__icon">
                            <p class="form-social__name text-black">Google</p>
                        </a></li>
                    <li class="form-social__item"><a href="#" class="form-social__link"><i
                                class="form-social__icon fa-brands fa-facebook"></i>
                            <p class="form-social__name text-black">Facebook</p>
                        </a></li>
                    <li class="form-social__item"><a href="#" class="form-social__link"><img src="images/zalo.png"
                                alt="" class="form-social__icon">
                            <p class="form-social__name text-black">Zalo</p>
                        </a></li>
                </ul>
                <div class="form-separate d-flex justify-content-between align-items-center">
                    <div class="line-separate"></div>
                    <p>Hoặc</p>
                    <duv class="line-separate"></duv>
                </div>
                <ul class="user-input mt-3">
                    <li class="mb-3">
                        <input type="text" class="form-control username" placeholder="Nhập tên đăng nhập"
                            name="username">
                        <div class="invalid-feedback">Tên đăng nhập không tồn tại!</div>
                    </li>
                    <li class="mb-3">
                        <input type="password" class="form-control password" name="pswd" placeholder="Nhập mật khẩu">
                        <div class="invalid-feedback">Sai mật khẩu!</div>
                    </li>
                    </li>
                </ul>
            </main>
            <div class="close-btn"> <i class="close-icon fa-solid fa-xmark"></i></div></a>
            <button type="submit" class=" form-submit text-uppercase">đăng nhập</button>
            <a href="../forgotPassword" class="form-link mt-2">Quên mật khẩu?</a>
        </form>


        <form id="signup-form" class="authentication-form " action="/" novalidate>
            <header class="form-heading">
                <h5 class="form-title text-uppercase bold ">đăng ký!</h5>
                <p class="form-direction">Đã có tài khoản? <a href="#" class="form-link bold" id="form-link__login">
                        Đăng nhập!</a></p>
            </header>
            <div class="line-separate"></div>
            <main class="form-body">
                <ul class="form-social d-flex justify-content-between">
                    <li class="form-social__item"><a href="#" class="form-social__link"><img src="images/google.png"
                                alt="" class="form-social__icon">
                            <p class="form-social__name text-black">Google</p>
                        </a></li>
                    <li class="form-social__item"><a href="#" class="form-social__link"><i
                                class="form-social__icon fa-brands fa-facebook"></i>
                            <p class="form-social__name text-black">Facebook</p>
                        </a></li>
                    <li class="form-social__item"><a href="#" class="form-social__link"><img src="images/zalo.png"
                                alt="" class="form-social__icon">
                            <p class="form-social__name text-black">Zalo</p>
                        </a></li>
                </ul>
                <div class="form-separate d-flex justify-content-between align-items-center">
                    <div class="line-separate"></div>
                    <p>Hoặc</p>
                    <duv class="line-separate"></duv>
                </div>
                <ul class="user-input">
                    <li class="mb-2">
                        <label for="signup-email" class="form-label">Email</label>
                        <input type="email" class="form-control email" id="signup-email" placeholder="Nhập email"
                            name="username">
                        <div class="invalid-feedback">Email đã được sử dụng!</div>
                    </li>
                    <li class="mb-2">
                        <label for="signup-username" class="form-label">Tên đăng nhập</label>
                        <input type="text" class="form-control username" id="signup-username"
                            placeholder="Nhập tên đăng nhập" name="username">
                        <div class="invalid-feedback">Tên đăng nhập đã tồn tại!</div>
                    </li>
                    <li class="mb-2">
                        <label for="signup-pw" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control password" id="signup-pw" name="pswd"
                            placeholder="Nhập mật khẩu">
                        <div class="invalid-feedback"></div>
                    </li>
                    <li class="mb-2">
                        <label for="signup-repw" class="form-label">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control re-password" name="pswd" id="signup-repw"
                            placeholder="Nhập lại mật khẩu">
                        <div class="invalid-feedback"></div>
                    </li>
                    </li>
                </ul>
            </main>
            <div class="close-btn"> <a href="#"><i class="close-icon fa-solid fa-xmark"></i></a></div>
            <button type="submit" class=" form-submit text-uppercase">đăng ký</button>

        </form>

    </div>
    <div id="search-modal" class="user-role">
        <form action="../listArticle">
            <input type="text" id="search-input" placeholder="Nhập để tìm kiếm...">
        </form>
        <i class="fa-solid fa-xmark hover" id="search-close"></i>
    </div>
    <div class="modal fade user-role" id="premium-modal" tabindex="-1" aria-labelledby="premium-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title mt-2 text-uppercase" id="premium-modal-label">
                        <strong>Đăng ký
                            Premium</strong>
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="mt-2" id="renew-account" action="#payment-modal">
                        <div class="d-flex flex-column align-items-center">
                            <p><strong>Chỉ với 7000đ/ngày</strong></p>
                            <p class="mt-2"><strong>Tài khoản của bạn sẽ được</strong></p>
                        </div>

                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <div
                                class="col-2 border border-secondary rounded-circle d-flex justify-content-center align-items-center">
                                <img src="images/premium.png" alt="" class="p-3">
                            </div>
                            <div class="col-9 d-flex justify-content-end">
                                <p>Xem bài viết premium không giới hạn số lượng</p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center mt-3">
                            <div
                                class="col-2 border border-secondary rounded-circle d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-download fa-2x p-4"></i>
                            </div>

                            <div class="col-9 d-flex justify-content-end">
                                <p>Tải bài viết bạn muốn với đầy đủ nội dung một <br>
                                    cách dễ dàng</p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn success-btn col-9" id="submit-premium"
                                data-bs-toggle="modal" data-bs-target="#payment-modal">Dùng một tuần với
                                49000đ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade user-role" id="payment-modal" tabindex="-1" aria-labelledby="payment-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title mt-2 text-uppercase" id="payment-modal-label"><strong>Gói
                            của bạn</strong>
                    </h5>
                </div>
                <div class="modal-body mb-3">
                    <form class="mt-2" id="payment" action="#">
                        <div class="d-flex flex-column align-items-center">
                            <p><strong>Thanh toán 49000đ trong một lần cho 7 ngày</strong>
                            </p>
                            <p class="mt-2"><strong>Bắt đầu ngay hôm nay</strong></p>
                        </div>

                        <div class="d-flex justify-content-center">
                            <hr class="col-8">
                        </div>

                        <div class="text-justify about">
                            <p>Bằng cách tiến hành mua, bạn cho phép chúng tôi tính giá trên
                                trong
                                khoản thời gian bạn đã chọn. Sau khi hết 1 tuần bạn cần
                                gia hạn để tiếp tục dùng premium
                                hoặc sử dụng tài khoản miễn phí với các chức năng cơ
                                bản. Chúng tôi không thực hiện hoàn
                                thiện với bất kỳ lí do nào.</p>
                        </div>

                        <div class="d-flex justify-content-center mt-3 bg-payment border rounded-2">
                            <div class="col-11 d-flex flex-column justify-content-around align-items-center">
                                <img class="col-2 mt-3" src="images/momologo.png" alt="">
                                <div class="col-11 mt-3 text-justify about">
                                    <p>Bạn sẽ được chuyển đến trang thanh toán của
                                        Momo để hoàn tất giao dịch</p>
                                </div>
                                <div class="col-11 d-flex justify-content-center mt-3">
                                    <button type="submit" class="btn success-btn col-9" id="submit-premium">Tiếp tục
                                        mua</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>




</html>