.edit {
    display: none;
    
}
table.table td a.publish{
    color: var(--success-bg);
}


table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
/* LIST */
.list__link{
    display: flex !important;
    width: 100%;
    font-size: 13px;
    align-items: center;
}
.list__link:hover p{
    color: var(--primary-color) !important;
}
.list__link img{
    width: 100px;
    border-radius: 5px;
}
.list__link p{
    margin: 0;
    padding: 0px 10px;
    color: var(--black-color);
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.status{
    color: var(--primary-color) ;
}
.published .status{
    color: var(--success-bg);
}
.published .edit{
    display: block !important;
}
.published .publish{
    display: none ;
}
table.table{
    table-layout: fixed;
    word-wrap: break-word;
}
#publishModal .modal-title{
    padding: 10px 0px !important;
}