<aside id="sidebar">
    {{#with user}}
    {{> ad-header}}
    {{/with}}

    <div class="line-separate"></div>
    <ul id="sidebar__list">
        <li class="sidebar__item">
            <a href="/admin" class="sidebar__link">Chuyên mục</a>
        </li>
        <li class="sidebar__item"><a href="/admin/tag-management" class="sidebar__link">Nhãn</a></li>
        <li class="sidebar__item "><a href="/admin/article-management" class="sidebar__link">Bài viết</a></li>
        <li class="sidebar__item "><a href="/admin/user-management" class="sidebar__link">Người dùng</a>
        </li>
        <li class="sidebar__item"><a href="/admin/category-assignment" class="sidebar__link">Phân công chuyên mục</a>
        </li>
        <li class="sidebar__item sidebar__item--active"><a href="" class="sidebar__link">Gia hạn tài khoản</a></li>
    </ul>

</aside>
<main id="main">
    <p id="title">Danh sách người dùng</p>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-heading">
                    <div class="row">
                        <div class="col-sm-8">
                            <form id="search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" id="search-field" name="search-content"
                                    placeholder="Tìm kiếm biên tập viên...">
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 25%;">Tên</th>
                            <th style="width: 25%;">Email</th>
                            <th style="width: 22%">Ngày đăng ký</th>
                            <th style="width: 22%;">Ngày hết hạn</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="#"><img src="../assets/images/avatars/man_default.png" class="user-avatar"
                                            alt="Avatar">
                                    </a>
                                    <div class="user-name">
                                        <span class="user-fullname text-capitalize">Nguyễn Kông Đại</span>
                                        <span class="user-nickname">kdai</span>
                                    </div>
                                </div>
                            </td>
                            <td>kongdai@gmail.com</td>
                            <td>10/10/2020</td>
                            <td class="role">15/02/2023</td>
                            <td>
                                <div class="d-flex table-control">
                                    <a href="#" class="edit" id="button-edit" data-bs-toggle="modal"
                                        data-bs-target="#editModal">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="#"><img src="../assets/images/avatars/man_default.png" class="user-avatar"
                                            alt="Avatar">
                                    </a>
                                    <div class="user-name">
                                        <span class="user-fullname text-capitalize">Dũ Quốc Huy</span>
                                        <span class="user-nickname">qhuy</span>
                                    </div>
                                </div>
                            </td>
                            <td>quochuy@gmail.com</td>
                            <td>10/10/2020</td>
                            <td class="role">15/02/2023</td>
                            <td>
                                <div class="d-flex table-control">
                                    <a href="#" class="edit" id="button-edit" data-bs-toggle="modal"
                                        data-bs-target="#editModal">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="#"><img src="../assets/images/avatars/man_default.png" class="user-avatar"
                                            alt="Avatar">
                                    </a>
                                    <div class="user-name">
                                        <span class="user-fullname text-capitalize">Lê Thị Minh Hiền</span>
                                        <span class="user-nickname">mhneh</span>
                                    </div>
                                </div>
                            </td>
                            <td>mhien@gmail.com</td>
                            <td>10/10/2020</td>
                            <td class="role">15/02/2023</td>
                            <td>
                                <div class="d-flex table-control">
                                    <a href="#" class="edit" id="button-edit" data-bs-toggle="modal"
                                        data-bs-target="#editModal">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <ul class="pagination">
                        <li class="page-item  "><a href="#" class="page-link"><i class="fa-solid fa-caret-left"></i></a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item "><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link"><i class="fa-solid fa-caret-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</main>
<!-- Edit Modal HTML -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title mt-2" id="edit-modal-label">Gia hạn tài khoản</h5>
                <div class="d-flex justify-content-center">
                    <hr class="col-11">
                </div>
                <form class="mt-2" id="renew-account" action="./accountRenewal.html">
                    <div class="d-flex justify-content-center">
                        <div class="col-10 d-flex flex-column">
                            <label for="due-date">Gia hạn đến ngày</label>
                            <input type="date" id="due-date" name="due-date"
                                class="mt-1 p-2 border border-1 border-secondary rounded-2">
                        </div>
                    </div>

                    <div class="myModal-button mt-3">
                        <input type="submit" class="button submit success-btn" value="Cập nhật">
                        <input type="button" class="button cancel-btn" data-bs-dismiss="modal" value="Hủy bỏ">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet" href="/styles/ad-main.css">
<link rel="stylesheet" href="/styles/ad-accountRenewal.css">
<script type="module" src="/scripts/ad-main.js"></script>
<script type="module" src="/scripts/ad-category.js"></script>
<script src="/scripts/ad-accountRenewal.js"></script>