<aside id="sidebar">
    {{#with user}}
    {{> ad-header}}
    {{/with}}

    <div class="line-separate"></div>
    <ul id="sidebar__list">
        <li class="sidebar__item">
            <a href="/admin" class="sidebar__link">Chuyên mục</a>
        </li>
        <li class="sidebar__item"><a href="/admin/tag-management" class="sidebar__link">Nhãn</a></li>
        <li class="sidebar__item "><a href="/admin/article-management" class="sidebar__link">Bài viết</a></li>
        <li class="sidebar__item "><a href="/admin/user-management" class="sidebar__link">Người dùng</a>
        </li>
        <li class="sidebar__item sidebar__item--active"><a href="" class="sidebar__link">Phân công chuyên mục</a>
        </li>
        <li class="sidebar__item"><a href="/admin/account-renewal" class="sidebar__link">Gia hạn tài khoản</a></li>
    </ul>

</aside>
<main id="main">
    <p id="title">Danh sách biên tập viên</p>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-heading">
                    <div class="row">
                        <div class="col-sm-8">
                            <form id="search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" id="search-field" name="search-content"
                                    placeholder="Tìm kiếm biên tập viên...">
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 30%;">Tên</th>
                            <th style="width: 30%;">Email</th>
                            <th style="width: 35%;">Chuyên mục quản lý</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="#"><img src="../assets/images/avatars/man_default.png" class="user-avatar"
                                            alt="Avatar">
                                    </a>
                                    <div class="user-name">
                                        <span class="user-fullname text-capitalize">Nguyễn Kông Đại</span>
                                        <span class="user-nickname">kdai</span>
                                    </div>
                                </div>
                            </td>
                            <td>kongdai@gmail.com</td>
                            <td class="role">Kinh tế, Thể thao</td>
                            <td>
                                <div class="d-flex table-control">
                                    <a href="#" class="edit" id="button-edit" data-bs-toggle="modal"
                                        data-bs-target="#editModal">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="#"><img src="../assets/images/avatars/man_default.png" class="user-avatar"
                                            alt="Avatar">
                                    </a>
                                    <div class="user-name">
                                        <span class="user-fullname text-capitalize">Dũ Quốc Huy</span>
                                        <span class="user-nickname">qhuy</span>
                                    </div>
                                </div>
                            </td>
                            <td>quochuy@gmail.com</td>
                            <td class="role">Xã hội</td>
                            <td>
                                <div class="d-flex table-control">
                                    <a href="#" class="edit" id="button-edit" data-bs-toggle="modal"
                                        data-bs-target="#editModal">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="#"><img src="../assets/images/avatars/man_default.png" class="user-avatar"
                                            alt="Avatar">
                                    </a>
                                    <div class="user-name">
                                        <span class="user-fullname text-capitalize">Lê Thị Minh Hiền</span>
                                        <span class="user-nickname">mhneh</span>
                                    </div>
                                </div>
                            </td>
                            <td>mhien@gmail.com</td>
                            <td class="role">Chính trị, Giải trí</td>
                            <td>
                                <div class="d-flex table-control">
                                    <a href="#" class="edit" id="button-edit" data-bs-toggle="modal"
                                        data-bs-target="#editModal">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix">
                    <ul class="pagination">
                        <li class="page-item  "><a href="#" class="page-link"><i class="fa-solid fa-caret-left"></i></a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item "><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link"><i class="fa-solid fa-caret-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</main>
<!-- Edit Modal HTML -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title mt-2" id="edit-modal-label">Chỉnh sửa chuyên mục quản lý</h5>
                <form class="mt-3" id="change-category" action="./categoryAssignment.html">

                    <ul class="row mb-3 d-flex flex-column justify-content-around">
                        <li class="mb-3 d-flex flex-column">
                            <label for="category-assigned" class="col-form-label">Chuyên mục được phân công</label>
                            <input type="text" id="category-assigned" class="p-1 border border-1 rounded-1" disabled>
                        </li>
                        <li class="mb-2 d-flex flex-column">
                            <label for="multipleSelect" class="col-form-label">Chọn chuyên mục</label>
                            <select id="multipleSelect" multiple name="" placeholder="Nhấn để chọn chuyên mục"
                                data-search="false" data-silent-initial-value-set="true">
                                <option value="Kinh tế">Kinh tế</option>
                                <option value="Chính trị">Chính trị</option>
                                <option value="Thể thao">Thể thao</option>
                                <option value="Xã hội">Xã hội</option>
                                <option value="Giải trí">Giải trí</option>
                            </select>
                        </li>
                    </ul>

                    <div class="myModal-button">
                        <input type="submit" class="button submit success-btn" value="Cập nhật">
                        <input type="button" class="button cancel-btn" data-bs-dismiss="modal" value="Hủy bỏ">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- STYLES --}}
<link rel="stylesheet" href="/styles/ad-main.css">
<link rel="stylesheet" href="/styles/ad-categoryAssignment.css">
<link rel="stylesheet" href="/styles/virtual-select.min.css">

{{!-- SCRIPTS --}}
<script type="module" src="/scripts/ad-main.js"></script>
<script src="/scripts/virtual-select.min.js"></script>
<script src="/scripts/ad-categoryAssignment.js"></script>