<aside id="sidebar">
    <a href="./setting" id="sidebar__header">
        <img src="images/users/female_default.png" alt="Avatar" class="rounded" id="sidebar__header-avatar">
        <div id="sidebar__header-admin">
            <p id="sidebar__header-name" class="text-capitalize bold">minh Hiền</p>
            <p id="sidebar__header-extra">Quản trị viên</p>
        </div>
    </a>

    <div class="line-separate"></div>
    <ul id="sidebar__list">
        <li class="sidebar__item">
            <a href="./ad-categoryManagement" class="sidebar__link">Chuyên mục</a>
        </li>
        <li class="sidebar__item sidebar__item--active"><a href="#" class="sidebar__link">Nhãn</a></li>
        <li class="sidebar__item "><a href="./ad-articleManagement" class="sidebar__link">Bài viết</a></li>
        <li class="sidebar__item"><a href="./ad-userManagement" class="sidebar__link">Người dùng</a>
        </li>
        <li class="sidebar__item"><a href="./ad-categoryAssignment" class="sidebar__link">Phân công chuyên
                mục</a>
        </li>
        <li class="sidebar__item"><a href="./ad-accountRenewal" class="sidebar__link">Gia hạn tài khoản</a>
        </li>
    </ul>

</aside>
<main id="main">
    <p id="title">Danh sách nhãn</p>
    <div class="container-fluid px-3 py-4">
        <div class="row px-0 mx-0 py-3 rounded-top d-flex justify-content-between" style="background-color: #435d7d;">
            <div class="col-lg-5 px-4">
                <form id="search" class="w-100">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="search-field" name="search-content" placeholder="Tìm kiếm nhãn..." required
                        onkeyup="search(this.value)">
                </form>
            </div>

            <div class="col-lg-5 px-0 d-flex justify-content-end">
                <div class="col-lg-5 px-0">
                    <a href="#addModal" class="button add-btn" id="add" data-toggle="modal">Thêm</a>
                </div>

                <div class="col-lg-5 px-0 mx-2">
                    <a href="#deleteModal" class="button remove-btn" id="delete" data-toggle="modal">Xóa</a>
                </div>
            </div>
        </div>
        <div class="table-responsive bg-white mt-0 px-3 py-3 rounded-bottom">
            <table class="table table-hover" id="myTable" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%" class="text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th scope="col" style="width: 75%;">Tên</th>
                        <th scope="col" style="width: 15%;">Số bài viết</th>
                        <th scope="col" style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td class="text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="tag__name">
                            <p class="font-weight-bold">kinhte</p>
                        </td>
                        <td class="">
                            <p class="font-weight-bold">1000</p>
                        </td>
                        <td>
                            <div class="d-flex table-control">
                                <a href="#editModal" class="edit" data-toggle="modal"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <a href="#deleteModal" class="delete" data-toggle="modal"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="tag__name">
                            <p class="font-weight-bold">duquochuy</p>
                        </td>
                        <td class="">
                            <p class="font-weight-bold">190</p>
                        </td>
                        <td>
                            <div class="d-flex table-control">
                                <a href="#editModal" class="edit" data-toggle="modal"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <a href="#deleteModal" class="delete" data-toggle="modal"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="tag__name">
                            <p class="font-weight-bold">nguyenthiminhhien</p>
                        </td>
                        <td class="">
                            <p class="font-weight-bold">19</p>
                        </td>
                        <td>
                            <div class="d-flex table-control">
                                <a href="#editModal" class="edit" data-toggle="modal"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <a href="#deleteModal" class="delete" data-toggle="modal"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="tag__name">
                            <p class="font-weight-bold">
                                nguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdainguyenkongdai
                            </p>
                        </td>
                        <td class="">
                            <p class="font-weight-bold">5</p>
                        </td>
                        <td>
                            <div class="d-flex table-control">
                                <a href="#editModal" class="edit" data-toggle="modal"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <a href="#deleteModal" class="delete" data-toggle="modal"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <ul class="pagination">
                    <li class="page-item  "><a href="#" class="page-link"><i class="fa-solid fa-caret-left"></i></a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item "><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa-solid fa-caret-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</main>
<!-- Edit Modal HTML -->
<div id="editModal" class="myModal">
    <div class="myModal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                class="fa-solid fa-xmark close-modal"></i></button>

        <p class="modal-title">Chỉnh sửa phân hệ</p>
        <div class="form-group">
            <select name="role" class="form-control" id="role" value="Biên tập viên">
                <option value="editor">Biên tập viên</option>
                <option value="user">Người dùng</option>
                <option value="premium">Premium</option>
                <option value="writer">Phóng viên</option>
                <option value="admin">Quản trị viên</option>

            </select>
            <i class="fa-solid fa-caret-down"></i>
        </div>

        <div class="myModal-button">
            <input type="submit" class="button submit success-btn" value="Cập nhật">
            <input type="button" class="button cancel-btn" data-dismiss="modal" value="Hủy bỏ">

        </div>
    </div>
</div>
<div id="deleteModal" class="myModal">
    <div class="myModal-content">
        <button type="button" class="close"><i class="fa-solid fa-xmark close-modal"></i></button>

        <p class="modal-title">Xóa nhãn</p>

        <div class="form-group ">
            <!-- <label class="form-label">Nhập lý do xóa</label> -->
            <textarea type="text" class="form-control input-field required" placeholder="Nhập lý do xóa..."></textarea>
            <div class="invalid-feedback">Vui lòng ghi rõ lý do xóa!</div>


        </div>
        <div class="myModal-button">
            <button class="button remove-btn text-uppercase submit">Xóa</button>
            <button class="button cancel-btn text-uppercase">Hủy
                bỏ</button>

        </div>

    </div>

</div>
<!-- Add Modal HTML -->
<div id="addModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fa-solid fa-xmark close-modal" aria-hidden="true"></i>
            </button>
            <p class="modal-title">Thêm nhãn mới</p>
            <form action="#" class="form-add">
                <div class="form-group modal-body">
                    <label class="form-label">Nhập tên của nhãn mới</label>
                    <input type="text" name="" id="tag__name--add" class="p-2 w-100" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button submit success-btn">Hoàn tất</button>
                    <button type="button" class="button cancel-btn" data-dismiss="modal">Hủy bỏ</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- STYLES --}}
<link rel="stylesheet" href="styles/ad-main.css">
<link rel="stylesheet" href="styles/ad-userManagement.css">
<link rel="stylesheet" href="styles/ad-tagManagement.css">
{{!-- SCRIPTS --}}
<script type="module" src="scripts/ad-main.js"></script>
<script type="module" src="scripts/ad-tag.js"></script>