<ul id="breadcrumb">
        <li class="breadcrumb__item">
                <a href="./index" class="breadcrumb__link hover">Trang chủ

                </a>
        </li>
        <li class="breadcrumb__item"> ›› <a href="#" class="breadcrumb__link  breadcrumb__link--active hover">Duyệt bài
                        viết</a>
        </li>

</ul>
<main id="app__body">
        <div class="container-fluid mb-5">

                <div class="heading">
                        <h1 class="mt-4 fw-bold">Duyệt bài viết</h1>
                        <hr>
                </div>

                <div class="container d-flex flex-column align-items-center">
                        <h4 id="title" class="border rounded">
                                Bài viết chờ được duyệt
                        </h4>

                        <div id="list-article"
                                class="w-100 d-flex flex-column justify-content-center border rounded mt-3 p-4">
                                <a class="list__item w-100 d-flex flex-column justify-content-between border rounded p-3"
                                        href="./browsingDetail">
                                        <div class="d-flex flex-column">
                                                <p class="text-primary mb-2">Nhãn bài viết</p>
                                                <p class="text-second mb-2">Tiêu đề của bài viết Tiêu đề
                                                        của bài viết
                                                        Tiêu đề của bài viết Tiêu đề của bài viết
                                                </p>
                                        </div>

                                        <p class="list__item-time align-self-end text-second">
                                                12 giờ trước
                                        </p>
                                </a>
                                <a class="list__item w-100 d-flex flex-column justify-content-between border rounded p-3"
                                        href="./browsingDetail">
                                        <div class="d-flex flex-column">
                                                <p class="text-primary mb-2">Nhãn bài viết</p>
                                                <p class="text-second mb-2">Tiêu đề của bài viết Tiêu đề
                                                        của bài viết
                                                        Tiêu đề của bài viết Tiêu đề của bài viết
                                                </p>
                                        </div>

                                        <p class="list__item-time align-self-end text-second">
                                                12 giờ trước
                                        </p>
                                </a>
                                <a class="list__item w-100 d-flex flex-column justify-content-between border rounded p-3"
                                        href="./browsingDetail">
                                        <div class="d-flex flex-column">
                                                <p class="text-primary mb-2">Nhãn bài viết</p>
                                                <p class="text-second mb-2">Tiêu đề của bài viết Tiêu đề
                                                        của bài viết
                                                        Tiêu đề của bài viết Tiêu đề của bài viết
                                                </p>
                                        </div>

                                        <p class="list__item-time align-self-end text-second">
                                                12 giờ trước
                                        </p>
                                </a>
                                <a class="list__item w-100 d-flex flex-column justify-content-between border rounded p-3"
                                        href="./browsingDetail">
                                        <div class="d-flex flex-column">
                                                <p class="text-primary mb-2">Nhãn bài viết</p>
                                                <p class="text-second mb-2">Tiêu đề của bài viết Tiêu đề
                                                        của bài viết
                                                        Tiêu đề của bài viết Tiêu đề của bài viết
                                                </p>
                                        </div>

                                        <p class="list__item-time align-self-end text-second">
                                                12 giờ trước
                                        </p>
                                </a>
                                <a class="list__item w-100 d-flex flex-column justify-content-between border rounded p-3"
                                        href="./browsingDetail">
                                        <div class="d-flex flex-column">
                                                <p class="text-primary mb-2">Nhãn bài viết</p>
                                                <p class="text-second mb-2">Tiêu đề của bài viết Tiêu đề
                                                        của bài viết
                                                        Tiêu đề của bài viết Tiêu đề của bài viết
                                                </p>
                                        </div>

                                        <p class="list__item-time align-self-end text-second">
                                                12 giờ trước
                                        </p>
                                </a>

                        </div>
                </div>
        </div>

</main>
{{!-- STYLES --}}

<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/authentication.css">
<link rel="stylesheet" href="/styles/browsingList.css">