<ul id="breadcrumb">
    <li class="breadcrumb__item">
        <a href="./index" class="breadcrumb__link hover">Trang chủ

        </a>
    </li>
    <li class="breadcrumb__item"> ›› <a href="" class="breadcrumb__link  breadcrumb__link--active hover">Thể
            thao</a>
    </li>

</ul>
<main id="app__body">
    <div id="forgot">
        <div class="forgot-field" style="display: block;">
            <p class="forgot-heading bold">Nhập email hoặc tên đăng nhập của bạn
                để lấy lại mật khẩu
            </p>
            <input type="text" class="forgot-control" id="forgot-user" name="username"
                placeholder="Nhập email hoặc tên đăng nhập">
            <div class="invalid-feedback">Tên đăng nhập hoặc email không tồn tại!</div>
            <button class="submit-btn">lấy lại mật khẩu</button>
        </div>
        <div class="forgot-field">
            <p class="forgot-heading bold">Vui lòng kiểm tra email và nhập mã OTP để tiến hành lấy lại mật khẩu
            </p>
            <input type="text" class="forgot-control" id="otp-code" name="username" placeholder="Nhập mã OTP"
                maxlength="6">
            <div class="invalid-feedback">Mã OTP không chính xác</div>
            <button class="submit-btn">xác nhận</button>
        </div>
        <div class="forgot-field">
            <div class="mt-3">
                <p class="forgot-heading bold">Nhập mật khẩu mới
                </p>
                <input type="password" class="forgot-control" id="forgot-pw" name="username"
                    placeholder="Nhập mật khẩu">
                <div class="invalid-feedback"></div>
            </div>
            <div class="mt-3">
                <p class="forgot-heading bold">Xác nhận mật khẩu
                </p>
                <input type="password" class="forgot-control" id="forgot-repw" name="username"
                    placeholder="Xác nhận mật khẩu">
                <div class="invalid-feedback"></div>
            </div>
            <a class="submit-btn" href="./index">xác nhận</a>
        </div>
    </div>

</main>
{{!-- STYLES --}}

<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/authentication.css">
<link rel="stylesheet" href="styles/forgotPassword.css">
{{!-- SCRIPTS --}}
<script src="scripts/forgotPassword.js"></script>