<ul id="breadcrumb">
        <li class="breadcrumb__item">
                <a href="/" class="breadcrumb__link hover">Trang chủ

                </a>
        </li>
        <li class="breadcrumb__item"> ›› <a href="" class="breadcrumb__link  breadcrumb__link--active hover">Danh
                        sách bài báo</a>
        </li>

</ul>
<main id="app__body">
        <div id="listName" class="bold text-uppercase">
                <p>{{message}}</p>
        </div>

        <div class="row">
                <div class="col-md-8 article">
                        <ul id="list-article" class="row">
                                {{#each articles}}
                                <li class="list-article__item col-sm-6  mt-3">
                                        {{>listArticle-item}}
                                </li>
                                {{/each}}
                        </ul>

                        <nav arie-label="Page navigation example" id="pagination">
                                {{{createPagination pagination paginationClass="" leftText="<" rightText=">" }}}
                        </nav>
                </div>

                {{> right-column}}
        </div>

</main>
{{!-- STYLES --}}

<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/authentication.css">
<link rel="stylesheet" href="/styles/listArticle.css">


<script>
        document.querySelectorAll('#pagination li').forEach((li, index) => {
                li.classList.add('pagination__item');
        })
        document.querySelectorAll('#pagination a').forEach((a, index) => {
                a.classList.add('pagination__link')
        })
</script>