<ul id="breadcrumb">
        <li class="breadcrumb__item">
                <a href="./index" class="breadcrumb__link hover">Trang chủ

                </a>
        </li>
        <li class="breadcrumb__item"> ›› <a href="" class="breadcrumb__link  breadcrumb__link--active hover">Thể
                        thao</a>
        </li>

</ul>
<main id="app__body">
        <div id="listName" class="bold text-uppercase">
                <p>Chuyên mục : thể thao</p>
        </div>

        <div class="row">
                <div class="col-md-8 article">
                        <ul id="list-article" class="row">

                                <li class="list-article__item col-sm-6  mt-3">
                                        {{>listArticle-item}}
                                </li>
                                <li class="list-article__item col-sm-6  mt-3">
                                        {{>listArticle-item}}
                                </li>
                                <li class="list-article__item col-sm-6  mt-3">
                                        {{>listArticle-item}}
                                </li>
                                <li class="list-article__item col-sm-6  mt-3">
                                        {{>listArticle-item}}
                                </li>
                                <li class="list-article__item col-sm-6  mt-3">
                                        {{>listArticle-item}}
                                </li>
                                <li class="list-article__item col-sm-6  mt-3">
                                        {{>listArticle-item}}
                                </li>


                        </ul>

                        <nav arie-label="Page navigation example" id="pagination">
                                {{{createPagination pagination paginationClass="" leftText="Prev" rightText="Next" }}}
                        </nav>

                        {{!-- <ul id="pagination">
                                <li class="pagination__item disabled">
                                        <a href="#" class="pagination__link"><i
                                                        class="fa-solid fa-chevron-left"></i></a>
                                </li>
                                <li class="pagination__item active">
                                        <a href="#" class="pagination__link ">1</a>
                                </li>
                                <li class="pagination__item">
                                        <a href="#" class="pagination__link">2</a>
                                </li>
                                <li class="pagination__item">
                                        <a href="#" class="pagination__link">3</a>
                                </li>
                                <li class="pagination__item" style="border: none;">
                                        <a href="#" class="pagination__link">...</a>
                                </li>
                                <li class="pagination__item">
                                        <a href="#" class="pagination__link">9</a>
                                </li>
                                <li class="pagination__item">
                                        <a href="#" class="pagination__link">10</a>
                                </li>
                                <li class="pagination__item">
                                        <a href="#" class="pagination__link"><i
                                                        class="fa-solid fa-chevron-right"></i></a>
                                </li>
                        </ul> --}}
                </div>

                <ul id="sidebar" class="col-md-4 pc">
                        <div id="related-article" class="sidebar__item mt-3">

                                <p class="sidebar__item-title  ">Bài viết cùng chuyên mục</p>
                                <ul id="related-article__list pc">
                                        <li class="related-article__item mt-3 ">
                                                <a href="#" class="related-article-item__link">
                                                        <img src="images/articles/ID8_0.jpg" alt=""
                                                                class="related-article-item__img">
                                                        <div class="related-article-item__infor">
                                                                <p class="related-article-item__title text-black bold">
                                                                        Tiêu đề của bài
                                                                        viết</p>
                                                                <p class="related-article-item__time ">
                                                                        <i class="fa-solid fa-clock"></i>
                                                                        08/04/2023
                                                                </p>

                                                        </div>
                                                </a>

                                        </li>
                                        <li class="related-article__item mt-3">
                                                <a href="#" class="related-article-item__link">
                                                        <img src="images/articles/ID8_0.jpg" alt=""
                                                                class="related-article-item__img">
                                                        <div class="related-article-item__infor">
                                                                <p class="related-article-item__title text-black bold">
                                                                        Tiêu đề của bài
                                                                        viết</p>
                                                                <p class="related-article-item__time ">
                                                                        <i class="fa-solid fa-clock"></i>
                                                                        08/04/2023
                                                                </p>

                                                        </div>
                                                </a>

                                        </li>
                                        <li class="related-article__item mt-3">
                                                <a href="#" class="related-article-item__link">
                                                        <img src="images/articles/ID8_0.jpg" alt=""
                                                                class="related-article-item__img">
                                                        <div class="related-article-item__infor">
                                                                <p class="related-article-item__title text-black bold">
                                                                        Tiêu đề của bài
                                                                        viết</p>
                                                                <p class="related-article-item__time ">
                                                                        <i class="fa-solid fa-clock"></i>
                                                                        08/04/2023
                                                                </p>

                                                        </div>
                                                </a>

                                        </li>
                                        <li class="related-article__item mt-3">
                                                <a href="#" class="related-article-item__link">
                                                        <img src="images/articles/ID8_0.jpg" alt=""
                                                                class="related-article-item__img">
                                                        <div class="related-article-item__infor">
                                                                <p class="related-article-item__title text-black bold">
                                                                        Tiêu đề của bài
                                                                        viết</p>
                                                                <p class="related-article-item__time ">
                                                                        <i class="fa-solid fa-clock"></i>
                                                                        08/04/2023
                                                                </p>

                                                        </div>
                                                </a>

                                        </li>
                                        <li class="related-article__item mt-3">
                                                <a href="#" class="related-article-item__link">
                                                        <img src="images/articles/ID8_0.jpg" alt=""
                                                                class="related-article-item__img">
                                                        <div class="related-article-item__infor">
                                                                <p class="related-article-item__title text-black bold">
                                                                        Tiêu đề của bài
                                                                        viết</p>
                                                                <p class="related-article-item__time ">
                                                                        <i class="fa-solid fa-clock"></i>
                                                                        08/04/2023
                                                                </p>

                                                        </div>
                                                </a>

                                        </li>



                        </div>


                        <div id="article-social" class="sidebar__item mt-3">
                                <p class="sidebar__item-title  ">Theo dõi chúng tôi</p>
                                <ul id="article-social__list">
                                        <li class="article-social__item">
                                                <a href="#" class="article-social__link">
                                                        <img src="images/social-logo/facebook.png" alt="">
                                                </a>
                                        </li>
                                        <li class="article-social__item">
                                                <a href="#" class="article-social__link">
                                                        <img src="images/social-logo/google.png" alt="">
                                                </a>
                                        </li>
                                        <li class="article-social__item">
                                                <a href="#" class="article-social__link">
                                                        <img src="images/social-logo/zalo.png" alt="">
                                                </a>
                                        </li>
                                </ul>

                        </div>
                        <div id="catogery" class="sidebar__item mt-3">
                                <p class="sidebar__item-title ">Chuyên mục</p>
                                <ul id="catogery__list">
                                        <li class="category__item">
                                                <a href="#" class="category__link text-uppercase hover">Kinh
                                                        tế
                                                </a>
                                                <p class="category_quantity">(30)</p>
                                        </li>
                                        <li class="category__item">
                                                <a href="#" class="category__link text-uppercase hover">thể
                                                        thao
                                                </a>
                                                <p class="category_quantity">(30)</p>
                                        </li>
                                        <li class="category__item">
                                                <a href="#" class="category__link text-uppercase hover">pháp
                                                        luật
                                                </a>
                                                <p class="category_quantity">(30)</p>
                                        </li>
                                        <li class="category__item">
                                                <a href="#" class="category__link text-uppercase hover">đời
                                                        sống
                                                </a>
                                                <p class="category_quantity">(30)</p>
                                        </li>
                                        <li class="category__item">
                                                <a href="#" class="category__link text-uppercase hover">công
                                                        nghệ
                                                </a>
                                                <p class="category_quantity">(30)</p>
                                        </li>
                                        <li class="category__item">
                                                <a href="#" class="category__link text-uppercase hover">sức
                                                        khỏe
                                                </a>
                                                <p class="category_quantity">(30)</p>
                                        </li>
                                        <li class="category__item">
                                                <a href="#" class="category__link text-uppercase hover">âm
                                                        nhạc
                                                </a>
                                                <p class="category_quantity">(30)</p>
                                        </li>

                                </ul>

                        </div>
                        <div id="tag" class="sidebar__item mt-3">
                                <p class="sidebar__item-title ">Thẻ</p>
                                <ul id="tag__list" class="row">
                                        <li class="tag__item col-lg-6">
                                                <a href="#" class="tag__link hover">Du lịch</a>
                                        </li>
                                        <li class="tag__item col-lg-6 ">
                                                <a href="#" class="tag__link hover">Du lịch</a>
                                        </li>
                                        <li class="tag__item col-lg-6 ">
                                                <a href="#" class="tag__link hover">Du lịch</a>
                                        </li>
                                        <li class="tag__item col-lg-6 ">
                                                <a href="#" class="tag__link hover">Du lịch</a>
                                        </li>
                                        <li class="tag__item col-lg-6 ">
                                                <a href="#" class="tag__link hover">Du lịch</a>
                                        </li>
                                        <li class="tag__item col-lg-6 ">
                                                <a href="#" class="tag__link hover">Du lịch</a>
                                        </li>


                                </ul>

                        </div>
                </ul>
        </div>

</main>
{{!-- STYLES --}}

<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/authentication.css">
<link rel="stylesheet" href="styles/listArticle.css">

<script>
        document.querySelectorAll('#pagination li').forEach((li, index) => {
                li.classList.add('pagination__item');
        })
        document.querySelectorAll('#pagination a').forEach((a, index) => {
                a.classList.add('pagination__link')
        })
</script>