<h1>Loading...</h1>

<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/authentication.css">
<link rel="stylesheet" href="styles/listArticle.css">

{{!-- <script src="scripts/payment.js"></script> --}}