<div style="    width: fit-content;
    height: 200px;
    margin: auto;
    align-items: center;
    display: flex;
    margin-top: 100px;">
    <h1>{{{message}}}</h1>
</div>


<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/authentication.css">
<link rel="stylesheet" href="styles/my_article.css">