/* BODY HEADER */
#detail-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}

#detail-header .category-card {
    max-width: 100px;
}

#detail-header__title {
    color: var(--black-color);
    font-weight: bold;
    font-size: 18px;
    padding: 16px 0px;
}

#detail-header__title .premium-icon {
    position: relative;
    width: 30px;
}

#detail-header__infor {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.deatail-header__author-img {
    width: 50px;
    height: 50px;
}

.deatail-header__author-name {
    color: var(--black-color);
    padding: 0px 8px;
}

.detail-header__infor-time {
    font-size: 13px;
}

.detail-header__publish {
    font-size: 13px;
}

.detail-header__updated {
    padding-left: 8px;
    font-size: 13px;
}

.detail-header__comment {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 16px;
    font-size: 13px;
    line-height: 21px;
}

.detail-header__comment:hover {
    color: var(--primary-color);
}

/* sidebar */
#sidebar {
    padding: 0px 10px;
}

.sidebar__item {
    padding: 16px;
    border: 1px solid var(--light-color);
    border-radius: 2px;
    margin-bottom: 40px;
}

.sidebar__item-title {
    font-size: 18px;
    color: var(--black-color);
    font-weight: bold;
    border-left: 3px solid var(--primary-color);
    padding: 0px 8px;
    margin-bottom: 8px;
}

#article-social__list {
    display: flex;
    padding: 4px;
}

.article-social__link img {
    width: 36px;
    height: 36px;
}

.article-social__item+.article-social__item {
    margin-left: 8px;
}

.article-social__link:hover {
    opacity: 0.7;
}

#catogery__list {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.category__item {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid var(--light-color);
    margin: 4px;
}

.category__link,
.category_quantity {
    color: var(--second-color);
    font-size: 14px;
}

#tag__list {
    padding: 0px 12px;
}

.tag__item {
    text-align: center;
    margin-top: 8px;

}

.tag__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid var(--light-color);
    color: var(--second-color);
}

#related-article {
    padding: 16px;
}

.related-article__item {
    width: 100%;
    margin: 4px;
    padding: 8px;
    border-radius: 3px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 3px #ccc;
}

.related-article__item:hover {
    opacity: 0.8;
}

.related-article__item:hover .related-article-item__title {
    color: var(--primary-color) !important;
}

.related-article-item__link {
    display: flex;
}

.related-article-item__link img {
    width: 35%;
    border-radius: 3px;
}

.related-article-item__infor {
    padding: 8px 16px;
    padding-right: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.related-article-item__title {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.related-article-item__time {
    font-size: 10px;
    color: var(--second-color);
    text-align: end;

}

/*  */
#download-btn {
    background: var(--success-bg);
    color: var(--white-color);
    padding: 4px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
}

#download-btn:hover {
    opacity: 0.9;
}

/* CONTENT */
#detail-article {
    border: 1px solid var(--light-color);
    padding: 32px;
    border-radius: 5px;
}

.article__content-img {
    width: 100%;
    border-radius: 5px;
}

.article__content-text {
    font-size: 16px;
}

.article__content-title {
    font-weight: bold;
    font-size: 20px;
}

.article__content-item {
    margin-bottom: 32px;
}
#comment{
    margin-top: 50px;
}
#comment__header {
    font-size: 14px;
    display: flex;
    color: var(--primary-color);
    background-color: var(--light-bg);
    padding: 8px 8px;
    margin: 0px -16px;
    border-radius: 2px;
}

#list-comment {
    
    padding: 16px 0px;
    border-bottom: 1px solid var(--light-color);

}

.list-comment__icon {
    font-size: 18px;
    padding: 0px 4px;
}

.list-comment__quantity {
    padding: 0px 4px;
}

.comment-item {
    padding: 16px 8px;
    font-size: 14px;
    display: flex;
    align-content: end;
}

.comment-item__body {
    padding: 8px 16px;
    margin-left: 16px;
    border-radius: 5px;
    background-color: var(--light-bg);
    flex: 1;
}

.comment-item__infor {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.comment-item__avatar {
    width: 36px;
    height: 36px;
}

.comment-item__name {
    font-weight: bold;
}

.conmment-item__time {
    position: relative;
    padding: 0px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.comment-item__content {
    padding: 8px;
    color: var(--second-color);
}

.comment-item__react {
    display: flex;
    font-size: 12px;
    justify-content: end;
    color: var(--second-color);
}

.comment-item__react p {
    padding: 0px 8px;
}

#post-comment {
    padding: 16px 32px;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    margin-top: 30px
}

#post-comment label {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0px;
}

#comment-input {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    outline: 0;
    padding: 8px 16px;
    color: var(--second-color);
    font-size: 14px;
}

.post-btn {
    border-radius: 20px;
    width: 120px;
    height: 34px;
    font-size: 13px;
    margin: 10px 0px;
    text-transform: uppercase;
}

.success-btn{
    background-color: var(--success-bg);
}

#submit-premium {
    background: var(--success-bg);
    color: var(--white-color);
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 16px;
}

#submit-premium:hover {
    opacity: 0.9;
}

.about p {
    text-align: justify;
}

.bg-payment {
    background-color: #e4e4e4;
}

/* reponsive */
@media screen and (max-width: 1200px){
    #listName{
        font-size: 20px;
    }
    .sidebar__item-title{
        font-size: 14px;
    }
    .related-article-item__title {
        font-size: 12px;
    }
    .related-article-item__time{
        font-size: 8px;
    }
    .related-article-item__link img{
        width: 30%;
    }
    .related-article-item__infor{
        padding: 4px;
    }
}
@media screen and (max-width: 768px) {
    #download-btn {
        font-size: 13px;
    }
    #detail-header__title {
        font-size: 16px;
    }

    #detail-header__title .premium-icon {
        width: 20px;
    }
/* 
    #detail-header__infor {
        font-size: 12px;
    }

    .deatail-header__author-img {
        width: 40px;
        height: 40px;
    } */
    .detail-header__infor-time {
        font-size: 12px;
    }

    .detail-header__publish {
        font-size: 12px;
    }

    .detail-header__updated {
        font-size: 12px;
    }

    .detail-header__comment {
        font-size: 12px;
    }
    .article__content-text{
        font-size: 14px;
    }
    .article__content-title{
        font-size: 18px;
    }
    .sidebar__item{
        margin-top: 50px;
        border: none;
    }
    .sidebar__item-title{
        font-size: 16px;
    }
}
@media screen and (max-width: 560px) {
    #detail-header__infor {
        font-size: 13px;
    }

    .deatail-header__author-img {
        width: 40px;
        height: 40px;
    }
    .detail-header__infor-time {
        font-size: 11px;
    }

    .detail-header__publish {
        font-size: 10px;
    }

    .detail-header__updated {
        font-size: 10px;
    }

    .detail-header__comment {
        font-size: 10px;
    }
    .article__content-text{
        font-size: 14px;
    }
    #detail-header__infor{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-self: start;
    }
    #detail-header__infor div{
        margin-right: auto;
    }
    .deatail-times{
        margin-left: 46px;
    }
    #comment{
        font-size: 12px;
    }
    #post-comment label{
        font-size: 14px;
    }
    #post-comment .post-btn{
        font-size: 13px;
    }
    .comment-item__content{
        font-size: 12px;
    }
}