.main__path a {
    color: var(--second-color) !important;
}

.main__path i {
    font-size: x-small;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}
#user-logged-in{
    display: flex;
}
#guest{
    display: none;
}
