.main__path a {
    color: var(--second-color) !important;
}

.main__path i {
    font-size: x-small;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}
#user-logged-in{
    display: flex;
}
#guest{
    display: none;
}
#app__body .heading{
    max-width: 300px;
}
#title{
    padding: 8px 16px;
}
.list__item + .list__item{
    margin-top: 16px;
}
#list-article .list__item-time{
    font-size: 14px;
}