.main__path a {
    color: var(--second-color) !important;
}

.main__path i {
    font-size: x-small;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}

.sidebar li.active {
    background-color: #d9d9d9;
}

.item-child {
    background-color: rgba(217, 217, 217, 0.3);
}

.content-active {
    display: block;
}

.content-hidden {
    display: none;
}

.about p {
    text-align: justify;
}

#user-logged-in {
    display: flex;
}

#guest {
    display: none;
}
#button-reject, #button-accept{
    min-width: 200px !important;
}
@media screen and (max-width: 768px) {
    #action{
        flex-direction: column !important;
    }
    #action a{
        margin-bottom: 16px;
    }
    
}