
#forgot{
    padding-top: 60px ;
    width: 100%;
}
.forgot-field{
    width: 70%;
    max-width: 700px;
    margin: auto;
    display: none;
}
.forgot-heading{
    font-size: 16px;
    margin-bottom: 10px;
}
.forgot-control {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px 20px;
    font-size: 15px;
}
.forgot-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #2ab391;
    box-shadow: 0 0 1px #2ab391;
}
.forgot-control.is-invalid{
    border-color: #dc3545;
    box-shadow: 0 0 1px #dc3545 ;
}
.forgot-control.is-invalid:focus{
    border-color: #dc3545;
    box-shadow: 0 0 5px #dc3545 ;
}
.submit-btn{
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: #0f9170;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
}
.submit-btn:hover{
    color: var(--white-color);
    opacity: 0.8;
}

#forgot .invalid-feedback{
    font-size: 14px;
    padding-left: 8px;  
}

/* reponsive */
@media screen and (max-width: 768px){
    .submit-btn{
        font-size: 12px;
    }
    #forgot .invalid-feedback{
        font-size: 12px;
    }
    .forgot-heading{
        font-size: 14px;
        line-height: 18px;
    }
    .forgot-control{
        font-size: 14px;
    }
}
