main {
    margin: 20px 0px;
}



.article-time {
    color: var(--second-color);
    font-size: 10px;
}

/* SLIDER */

#slider{
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}
#slider img{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 550px;
    top: 0px;
    border-radius: 5px;
}

.slider__caption {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 480px;
    left: 0;
    color: var(--black-color);
    font-weight: bold;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;

}
#slider .category-card{
    position: absolute;
    padding: 4px 30px;
    font-size: 20px;
    top: 10px;
    left: 10px;
    z-index: 10;
    
}
#slider .fa-chevron-left{
    left: 4%;
}
#slider .fa-chevron-right{
    right: 4%;
}
#slider .control{
    position: absolute;
    top: 37%;
    color: var(--white-color);
    font-size: 32px;
    cursor: pointer;
    opacity: 0.55;
}
#slider .control:hover{
    opacity: 1;
}
/*  */
.heading-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 26px;
    border-bottom: 8px solid var(--primary-color);
    position: relative;

}
.heading-title__link:hover{
    color: var(--white-color);
    opacity: 0.8;
}
.heading-title__link {
    position: absolute;
    cursor: pointer;
    content: "Xem thêm +";
    text-transform: capitalize;
    color: white;
    background-color: var(--primary-color);
    right: 0;
    bottom: 0;
    font-size: 16px;
    padding: 5px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 1;

}

.heading-title:hover:after {
    opacity: 0.8;
}

/* OUSTANDING */

.featured__item-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 18px;
    margin: 20px 0px;
}

.featured__infor {
    font-size: 12px;
    height: 20px;
    color: var(--second-color);

}

.card-title {
    font-weight: bold;
}

.featured__article {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    top: 0;
    transition: top linear 0.1s;

}

.featured__article img {

    transition: transform .3s ease-out;
}

.featured__article:hover {
    cursor: pointer;
    top: -2px;
    box-shadow: 0px 0.5px 20px 0px rgba(0, 0, 0, 0.1);
}

.featured__article:hover img {
    transform: scale(1.03);
}

.featured__item {
    position: relative;
}

.featured__item .category-card {
    top: -10px;
    left: 1.5%;
    border-bottom-left-radius: 0px;

}

.featured__item .category-card::after {
    content: "";
    left: 0;
    top: 100%;
    position: absolute;
    border-top: 4px solid var(--primary-color);
    filter: brightness(60%);
    border-left: 4px solid transparent;

}

/* .main-img{
    position: relative;
}
.main-img .category-card{
    bottom: 10px;
    right: 10px;
} */
/* MOST VIEWD */

.most-viewd__item {
    /* width: 100%;
    height: 380px; */
    top: 0;
    transition: top linear 0.1s;
}

.most-viewd__item:hover {
    top: -2px;
    opacity: 0.9;
}

.most-viewd__img {
    width: 100%;
    max-height: 400px;

    border-radius: 5px;
    background-color: black;
}

.most-viewd__link {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 0px 30px;
    vertical-align: bottom;
    display: flex;
    align-items: end;
}

.most-viewd__infor {
    width: 100%;
    margin-bottom: 20px;
}

.most-viewd__title {
    margin: 15px 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.most-viewd__extra {
    cursor: pointer;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

/* NEW ARTICLE */
.new-article {
    display: block;
    background-color: rgba(240, 240, 240, 0.6);
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;

}

.new-article:hover {
    cursor: pointer;
    opacity: 0.9;
}

.new-article:hover .new-article__title {
    color: var(--primary-color);
}

.new-article:hover .new-article__img {
    transform: scale(1.03);
    border-radius: 5px;
}

.new-article__img {
    width: 100%;
    /* max-height: 300px;
    object-fit: cover; */
    transition: transform .3s ease-out;
    border-radius: 5px;
}

.new-article__infor {
    padding: 12px;
}

.new-article__title {
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.new-article__extra {
    color: var(--second-color);
    font-size: 10px;
}

.new-article.square {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-top: 20px;
}

.new-article.square .new-article__title {
    font-size: 18px;
}

.new-article.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.new__infor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
    margin: 4px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    transition: transform .3s ease-out;
    display: flex;
    align-items: end;

}

.new-article.square:hover .new__infor {
    transform: scale(1.03);
    border-radius: 5px;
}

.new__infor .new-article__title {
    margin-top: 20px;
}

.new__infor .new-article__extra {
    color: rgba(255, 255, 255, 0.6);
}

.new-article .category-card.pos-a {
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    padding: 4px;
    min-width: 80px;
}

/* catogories */
#categories {
    margin-top: 50px;
    border-left: 1px solid var(--light-color);
}

.categories-item {
    margin-bottom: 50px;
}

.categories-item__heading {
    width: 100%;
    font-size: 18px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.77);
    border-radius: 2px;
}

.categories-item__body {
    padding: 10px;
}

.categories-item__item+.categories-item__item {
    margin-top: 20px;
}

.categories-item__item-heading {
    font-size: 16px;
    width: 40%;
    border-bottom: 2.5px solid var(--primary-color);
    font-weight: bold;
    padding-left: 5px;
}

.categories-item__link {
    margin: 10px 0px;
    display: block;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 2px;
    display: flex;

}

.categories-item__link:hover {
    opacity: 0.8;
}

.categories-item__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 15px;
}

.categories-item__link:hover .categories-item__title {
    color: var(--primary-color) !important;
}

.categories-item__img {
    width: 35%;
    border-radius: 2px;

}

.categories-item__infor {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
}

.article-time.pos-a {
    bottom: 10px;
    right: 10px;
}

.categories-btn {
    width: 100%;
    text-align: end;
}

/* REPONSIVE */
@media screen and (max-width: 1250px){
    .slider__caption{
        bottom: 0;
        top:auto;
    }
    #slider .control{
        top: 45%;
    }
}
@media screen and (max-width: 1200px) {
    .featured__item-title {
        font-size: 16px;
    }
    .categories-item {
        margin-bottom: 30px;
    }

    .categories-item__heading {
        font-size: 16px;
    }

    .categories-item__item-heading {
        font-size: 14px;
    }

    .categories-item__title {
        font-size: 12px;
        -webkit-line-clamp: 2;
    }

    .categories-item .article-time {
        bottom: 5px;
        font-size: 9px;
    }

    .categories-item__infor {
        padding: 4px 16px;
        line-height: 16px;
    }

    .categories-item__item+.categories-item__item {
        margin-top: 10px;
    }


}

@media screen and (max-width: 1024px) {
    .slider__caption {
        padding: 10px 20px;
        font-size: 16px;
    }

    .heading-title {
        font-size: 22px;
    }

    .heading-title__link {
        padding: 5px 16px;
        font-size: 14px;
    }

    .featured__infor {
        font-size: 10px;
    }

    .featured__item .category-card {
        left: 3%;
    }

    .most-viewd__link {
        padding: 0px 15px;
    }

    .most-viewd__title {
        margin: 10px 0px;
    }


    .most-viewd__extra {
        font-size: 10px;
        margin-bottom: 0;
    }

    .new-article__title {
        font-size: 12px;
    }

    .new-article.square .new-article__title {
        font-size: 15px;
    }

    .new-article__extra {
        font-size: 9px;
    }

    .new-article .category-card.pos-a {
        font-size: 8px;
        min-width: 60px;
    }

    
    .new-article__infor {
        padding: 10px 5px;
    }


    .featured__item-title {
        font-size: 15px;
    }

}


@media screen and (max-width: 768px) {
    #slider .control{
        font-size: 28px;
    }
    #slider .category-card{
        font-size: 16px;
    }
    #categories{
        border: none;
        margin-top: 100px;
        padding-top: 30px;
        border-top: 5px solid var(--primary-color);
    }
    .featured__item-title {
        font-size: 16px;
    }

    .new-article__title {
        font-size: 12px;
    }

    .new-article__extra {
        font-size: 9px;
        display: -webkit-box;

    }

    .new-article .category-card.pos-a {
        font-size: 10px;
        min-width: 80px;
    }

    .new-article__title {
        font-size: 16px;
    }

    .new-article__extra {
        font-size: 11px;
    }

    .new-article__img {
        max-height: 300px;
        object-fit: cover;
    }

    .categories-item__title {
        font-size: 15px;
    }

    .new-article__infor {
        padding: 20px;
    }

  

    .featured__item {
        margin-bottom: 10px;
    }

    .most-viewd__infor {
        padding: 0px 16px;
    }
    .categories-item__img{
        width: 30%;
    }
    .categories-item__infor{
        padding: 0px 10px;
    }
    .categories-item__title{
        font-size: 12px;
    }
    .categories-item .article-time{
        font-size: 8px;
    }
    .categories-btn .btn-primary{
        font-size: 12px;
        padding: 4px 8px;
    }



}

@media screen and (max-width: 576px) {

    #slider .category-card{
        font-size: 14px;
    }
    .heading-title {
        font-size: 20px;
        padding-left: 16px;
    }

    .heading-title__link {
        padding: 5px 10px;
        font-size: 13px;
    }

    .featured__item {
        padding: 0px 20px;
    }

    .most-viewd__title {
        font-size: 15px;
    }

    .new-article__extra {
        font-size: 8px;
    }

    .new-article__title {
        font-size: 14px;
    }

    .featured__item-title {
        font-size: 16px;
    }

    .most-viewd__infor {
        padding: 0px 10px;
    }
    .categories-btn .btn-primary{
        font-size: 14px;
        padding: 4px 12px;
    }
    .categories-item__infor{
        padding-top: 20px;
    }
    .categories-item__title{
        font-size: 14px;
    }
    .new-article__extra,.categories-item .article-time{
        font-size: 10px;
    }

}
#new, #featured{
    padding-bottom: 50px;
}