.text-primary {
    color: var(--primary-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--black-color) !important;
}

.bg-second {
    background-color: var(--second-color) !important;
}

#user-logged-in {
    display: flex;
}

#guest {
    display: none;
}

.app_body {
    box-sizing: border-box;
}

a, .page-link {
    color: var(--black-color);
}

.main__path a {
    color: var(--second-color)
}

.main__path i {
    font-size: x-small;
}

.btn-lg {
    width: fit-content;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
}

.btn.btn-hover-opacity {
    color: var(--white-color) !important;
    background-color: var(--primary-color) !important;
}
/* edit CSS */
.col-form-label.my-0.py-0{
    
    color: var(--second-color);
    font-size: 18px;

}
#inputCategory{
    color: var(--second-color);
    font-size: 15px !important;
}
input{
    color: var(--second-color) !important;
    font-size: 15px !important;
  
}
.btn-lg {
    width: fit-content;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

#previewImage {
    width: 400px;
    margin: 10px 20px 10px 20px
}


@media screen and (max-width: 768px) {
    .col-lg-2 hr{
        border: none !important;
    }
}

/* multiselect */

.vscomp-search-label, .vscomp-live-region {
    display: none!important;
}

.vscomp-wrapper {
    height: 40.5px;

}

.vscomp-toggle-button {
    /* padding: 10px 30px 10px 10px; */
    border-radius: 5px;
    border-color: #ced4da !important;
}

