.text-primary {
    color: var(--primary-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--black-color) !important;
}

.bg-second {
    background-color: var(--second-color) !important;
}

#user-logged-in {
    display: flex;
}

#guest {
    display: none;
}

.app_body {
    box-sizing: border-box;
}

a, .page-link {
    color: var(--black-color);
}

.main__path a {
    color: var(--second-color)
}

.main__path i {
    font-size: x-small;
}

.sidebar li.active {
    background-color: #d9d9d9;
}

.content-hidden {
    display: none;
}


.content-active {
    display: block;
}

.avatar {
    width: 80px;
    height: 80px;
}

.camera-to-choose {
    bottom: 0;
    right: 0;
    padding: 6px 6px;
    background-color: var(--second-color) !important;
    border-radius: 50%;
    color: white;
}

.camera-to-choose, .edit-icon:hover {
    cursor: pointer;
}

.font-weight-bold {
    font-weight: bold;
}

.logo-socialnetwork {
    width: 25px;
    height: 25px;
}

.vertical-line {
    width: 1px;
    height: 25px;
    background-color: var(--second-color) !important;
    padding: 0;
    margin: 0 10px;
}

.account-socialnetwork {
    width: 90%;
    font-size: 18px;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
}

.btn-lg {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
}

.btn.btn-hover-opacity {
    color: var(--white-color) !important;
    background-color: var(--primary-color) !important;
}