.text-primary {
    color: var(--primary-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--black-color) !important;
}

.bg-second {
    background-color: var(--second-color) !important;
}

.app_body {
    box-sizing: border-box;
}

a, .page-link {
    color: var(--black-color);
}

.main__path a {
    color: var(--second-color)
}

.main__path i {
    font-size: x-small;
}

#sidebar li.active {
    background-color: #d9d9d9;
}

.content-hidden {
    display: none;
}


.content-active {
    display: block;
}

.btn.btn-hover-opacity {
    color: var(--white-color) !important;
    background-color: var(--primary-color) !important;
}

#sidebar-btn{
    padding: 5px;
    height: 25px;
    font-size: 30px;
    color: var(--second-color);
    margin-left: -8px;
    cursor: pointer;
}
#sidebar-btn:hover{
    color: var(--primary-color);
}

/* Modal styles */

.modal .modal-dialog {
	max-width: 400px;


}
.modal .modal-header {
	padding: 20px 30px;
}
.modal-dialog {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
}
.modal-content {
    position: relative;
}
.modal .close {
    width: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.modal-body, .modal-footer {
    padding-top: 15px;
}
.modal .modal-footer {
    justify-content: center;
}
.modal p {
    padding-top: 45px;
}
.modal .modal-content {
	border-radius: 5px;
	font-size: 14px;
}
.modal .modal-footer {
	display: flex;
	border: none;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}
.modal-title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.input-field{
    border-radius: 5px !important;
}